<!DOCTYPE html>
<head>
    <title>Chat Bots</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to the Chatbots</h1>
    </header>
    <form action="/" method="POST">
        <input type="text" name="user_input" placeholder="Type Something">
        <button type="submit">Send</button>
    </form>

    {% for i in chatlog %}
        {% for bot_name, response in i.items() %}
            <p>{{ bot_name }}: {{ response }}</p>
            <p>--------------------</p>
        {% endfor %}
    {% endfor %}
