<!DOCTYPE html>
<head>
    <title>Chat Bots</title>
</head>
<body>
    <header>
        <h1>Welcome to the Chatbots</h1>
    </header>
    <form action="/" method="POST">
        <input type="text" name="user_input" placeholder="Type Something">
        <button type="submit">Send</button>
    </form>

    {% if result_h %}
        <p>Helpful Bot: {{ result_h }}</>
    {% endif %}

    {% if result_s %}
        <p>Sarcastic Bot: {{ result_s }}</>
    {% endif %}

    {% if result_r %}
        <p>Random Bot: {{ result_r }}</>
    {% endif %}
